[package]
name = "jiggy"
version = "1.0.4-alpha"
authors = ["Marco Ivaldi <raptor@0xdeadbeef.info>"]
edition = "2024"
description = "Minimalistic cross-platform mouse jiggler written in Rust."
homepage = "https://0xdeadbeef.info/"
repository = "https://github.com/0xdea/jiggy"
license = "MIT"
keywords = ["mouse", "jiggler", "windows", "linux", "macos"]
categories = ["command-line-utilities"]
exclude = [".cargo/*", ".github/*", ".img/*", "tests/*"]

[dependencies]
mouse-rs = "0.4"
spinners = "4.1"
ctrlc = "3.4"

[lints.clippy]
all = { level = "warn", priority = -1 }
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
cargo = { level = "warn", priority = -1 }
multiple_crate_versions = "allow"

[lints.rust]
missing_docs = { level = "warn" }

[profile.release]
# see https://github.com/johnthagen/min-sized-rust
strip = true
lto = true
opt-level = "z"
panic = "abort"

[profile.dev]
debug = false
